body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.ranking-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.ranking-table {
    display: flex;
    flex-direction: column;
}

.ranking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.elo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.rank {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    width: 40px;
}

.name {
    flex: 1;
    font-size: 1em;
    color: #333;
}

.points {
    font-size: 1em;
    color: #666;
}
